body {
    background-color: #b3b3ff;
    color: #3366ff;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    text-decoration: none;
    transition: all 0.6s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading:hover {
    color: pink;
    transform: scale(1.2);
    transform-origin: center;
    overflow: hidden;
}

.spacing {
    margin-left: 700px;
}

.subheading p {
    margin-top: 60px;
    font-size: 30px;
    text-align: center;
    margin-right: 100px;
    transition: all 0.6s ease;
    position: relative;
    display: inline-block;
}

.subheading p:hover {
    color: pink;
    transform: scale(1.2);
}